body {
    background-color: rgb(186, 252, 202);
}

h1 {
    text-align: center;
    font-size: 44px;
    color: rgb(39, 39, 76);
}

header {
    font-size: 25px;
    color: rgb(39, 39, 76);
}

footer{
    font-size: 25px;
    color: rgb(39, 39, 76);
}
