body {
    background-color: rgb(186, 252, 202);
}

img {
    width: 850px;
    height: 600px;
    padding: 5px 0px 0px 320px;
}

h1 {
    text-align: center;
    font-size: 44px;
    color: rgb(39, 39, 76);
}
