{% extends "base.html" %}

{% block lab %}Цветы{% endblock %}

{% block main %}
    <h1>Интересные факты о цветах</h1>
    <p >Цветы — удивительные творения природы. Восхищаясь их красотой, мы не задумываемся, что знакомые с детства лютики,
        ромашки или даже роскошные розы не так просты, как кажутся. Поговорим об интересных фактах о пяти разных цветках.</p>
    <ol>
        <li>
            <b>Ромашки</b>
            <p><u style="text-decoration-style: wavy">Факт 1.</u> В мире существует 25 видов ромашки, часть из которых произрастает и на территории России. наиболее широко
                известна ромашка аптечная, которая получила такое название благодаря своим лекарственным свойствам.</p>
            <p><u style="text-decoration-style: wavy">Факт 2.</u> Ромашка до сих пор является одни из самых востребованных и распространённых лекарственных растений в мире.</p>
             <p><u style="text-decoration-style: wavy">Факт 3.</u> Ромашка пахучая относится к растениям-космополитам, за последние 4-5 веков она распространилась по всем материкам,
            кроме Антарктиды, и произрастает вообще везде, правда, только в умеренном климате.</p>
            <img src="{{ url_for('static', filename='chamomile.jpg') }}">
        </li>
        
        <br><li>
            <b>Розы</b>
            <p><u style="text-decoration-style: wavy">Факт 1.</u> Розы - одни из самых старых цветов, их история охватывает около 35 миллионов лет. 
                Фоссилизованные листья, шипы и семена были обнаружены во время раскопок, свидетельствующих о древности этого удивительного цветка.</p>
            <p><u style="text-decoration-style: wavy">Факт 2.</u> Символика розы очень богата. Красные розы обычно символизируют любовь и страсть, розовые - благодарность и нежность, 
                желтые - дружбу и радость, а белые - невинность и чистоту.</p>
             <p><u style="text-decoration-style: wavy">Факт 3.</u> Вишня, абрикос, яблоня, персик, слива, груша и миндаль являются родственниками розы.</p>
            <img src="{{ url_for('static', filename='roses.jpg') }}">
        </li>

        <br><li>
            <b>Астра</b>
            <p><u style="text-decoration-style: wavy">Факт 1.</u> Астра переводится с греческого как «звезда». Древние греки считали астры пылинками, упавшими со звезды или слезами богини любви Афродиты.</p>
            <p><u style="text-decoration-style: wavy">Факт 2.</u> Греки считали, что посаженные у входа астры отгоняют неприятности и защищают дом от беды. Цветами астр украшали в храмах алтари, астры 
                вплетали в гирлянды, украшали ими прически и одежду.</p>
             <p><u style="text-decoration-style: wavy">Факт 3.</u> Астры черпают вдохновение из самой природы и являются настоящими мастерами обольщения своим разнообразием окрасок. Они предлагают нам широкий
                 выбор цветовых вариаций от нежного розового до яркого желтого и всевозможных оттенков синего и фиолетового.</p>
            <img src="{{ url_for('static', filename='asters.jpg') }}">
        </li>

        <br><li>
            <b>Пионы</b>
            <p><u style="text-decoration-style: wavy">Факт 1.</u> Согласно древнегреческой легенде, пион получил свое название от Пеона — ученика бога врачебного искусства Асклепия. Учитель позавидовал успехам 
                своего ученика и хотел отравить его, но бог Аид, исцеленный Пеоном, не дал ему погибнуть и превратил в растение, корнями которого был излечен.</p>
            <p><u style="text-decoration-style: wavy">Факт 2.</u> Пионам более 2000 лет. Родиной первых пионов считается Азия (в частности Китай), Южная Европа и запад Северной Америки.</p>
             <p><u style="text-decoration-style: wavy">Факт 3.</u> Пионы — известные долгожители среди цветов. В то время как срезанный букет пионов стоит в вазе около 5 дней, куст пиона может цвести на 
                протяжении сотен лет.</p>
            <img src="{{ url_for('static', filename='pions.jpg') }}">
        </li>

        <br><li>
            <b>Тюльпаны</b>
            <p><u style="text-decoration-style: wavy">Факт 1.</u> Название тюльпана произошло от персидского слова toliban («тюрбан»), и дано это название цветку за сходство его бутонов с 
                восточным головным убором, напоминавшим чалму.</p>
            <p><u style="text-decoration-style: wavy">Факт 2.</u> Бутоны тюльпанов настолько симметричны, что лёгкую асимметрию в них определить можно только с помощью очень внимательного изучения.</p>
             <p><u style="text-decoration-style: wavy">Факт 3.</u> Первые тюльпаны появились на Земле, по разным оценкам, от 10 до 15 млн лет назад.</p>
            <img src="{{ url_for('static', filename='tulips.jpg') }}">
        </li>
    </ol>
{% endblock %}
