{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href = "/lab2/example">example</a>
        </li>
        <li>
            <a href = "/lab2/flowers">flowers</a>
        </li>
        <li>
            <a href = "/lab2/for_1">for_1</a>
        </li>
        <li>
            <a href = "/lab2/if_16">if_16</a>
        </li>
        <li>
            <a href = "/lab2/for_36">for_36</a>
        </li>
    </ol>
{% endblock %}

